<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <display-name>Servlet and Jsp demo</display-name>

    <!--    Serwer domyślnie szuka strony domowej aplikacji w następującej kolejności-->
    <!--  1.welcome-file-list w web.xml-->
    <!--  2.index.html-->
    <!--  3.index.htm-->
    <!--  4.index.jsp-->
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>WebXmlServletConfiguration</servlet-name>
        <servlet-class>pl.sda.WebXmlServletConfiguration</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WebXmlServletConfiguration</servlet-name>
        <url-pattern>/web-xml-servlet-configuration</url-pattern>
    </servlet-mapping>

<!--    Jedna aplikacja może mieć wiele filtrów, wtedy kolejność ich wywołania zależy od kolejności w pliku web.xml-->
    <filter>
        <filter-name>LogIpFilter</filter-name>
        <filter-class>pl.sda.LogIpFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogIpFilter</filter-name>
        <!-- Tutaj podajemy pattern dla jakich adresów ma funkcjonować dany filtr -->
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>